<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>


<!--tips:-->
<!--@article 变量在所有局部视图中都可使用，因为它是实例变量。-->

<!--可以查看评论-->
<!--此处进行重构-->
<h2>Comments</h2>

<!--这个视图会局部渲染@article.comments集合中的每个评论。render方法会遍历@article.comments集合，
把每个评论赋值给一个和局部视图同名的本地变量。此处本地变量是comments。这个本地变量可以在局部视图中使用。-->
<%= render @article.comments %>

<!--
<% @article.comments.each do |comment| %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
<% end %>-->


<!--使读者可以发表评论-->
<!--使用form_for 添加一个表单，调用CommentsController控制器的create动作完成发表评论-->
<!--form_for的参数是一个数组，构建嵌套路由，如/articles/1/comments-->
<h2>Add a comment:</h2>
<!--使用render渲染添加评论局部布局-->
<%= render "comments/form" %>

<!--此处进行重构-->
<!--
<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>-->

<%= link_to 'Back', articles_path %>|<%= link_to 'Edit', edit_article_path(@article) %>