<%= link_to 'New Event', new_event_path %>
<br>
<%= link_to 'Back Welcome', :controller => 'welcome', :action => 'index' %>

<br>
<%= paginate @events %>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>名称</th>
    <th>描述</th>
    <th>是否公开</th>
    <th>数量</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.is_public %></td>
        <td><%= event.capacity %></td>
        <td>
          <%= link_to 'Show', event_path(event) %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= button_to 'Delete', event_path(event), :method => :delete, :data => {:confirm => "Are you sure?"} %>
        </td>
      </tr>
  <% end %>

  </tbody>

</table>

<%= paginate @events %>
